<% content_for :header_string, "Welcome to BabbleZone" %>
<% content_for :home_link_tag, "active" %>

<div class="row">
  <div class="span12">
    <div id="bz_banner">
      <h1>BabbleZone</h1>
      <% if user_logged_in? %>
        <% user_name = current_user.name %>
        <%= content_tag :small, "Logged in as #{user_name}" %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span9">
    <div class="well">Find me in app/views/blogs/index.html.erb</div>
  </div>
  <div class="span3">
    <div class="well signin-form">
      <h3>Sign In</h3>
      <%= form_tag({:controller => :sessions,
                    :action => :create }) do %>
        <%= label_tag 'mail' %>
        <%= text_field_tag 'mail', '', :class => "input-block-level" %>
        <%= label_tag 'password' %>
        <%= password_field_tag 'password', '', :class => "input-block-level" %>
        <%= submit_tag "Sign In", :class => "btn btn-primary btn-block" %>
      <% end %>
      <p>Or <%= link_to "Sign Up", "/signup" %>, to join the Babble!</p>
    </div>
  </div>
</div>