<% content_for :header_string, "Sign up for BabbleZone" %>
<% content_for :signup_link_tag, "active" %>

<div class="span12"><%= render "shared/message_area" %></div>
<div class="span4 offset4">
  <%= form_for(@user) do |f| %>
    <%= f.label           :mail %>
    <%= f.text_field      :mail, class:  "input-block-level" %>
    <%= f.label           :name %>
    <%= f.text_field      :name, class:  "input-block-level" %>
    <%= f.label           :password %>
    <%= f.password_field  :password, class:  "input-block-level" %>
    <%= f.label           :password_confirmation, "Confirm Password" %>
    <%= f.password_field  :password_confirmation, class:  "input-block-level" %>
    <%= f.submit          "Create Account", class: "btn btn-block btn-primary" %>
  <% end %>
</div>