<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <a class="brand pull-left" href="/">
        <strong><%= yield :header_string %></strong>
      </a>
      <ul class="nav pull-right">
        
        <%= content_tag(:li,
                        link_to("Home", root_path),
                        :class => content_for?(:home_link_tag) ? "active" : "") %>
        
        <%= content_tag(:li,
                        link_to("Help", "#"),
                        :class => content_for?(:help_link_tag) ? "active" : "") %>
        
        <% if user_logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown_toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <%= content_tag :li,
                              link_to("My Profile", user_path(@current_user)) %>
                              
              <%= content_tag :li,
                              link_to("Sign Out", signout_path, :method => "delete") %>
            </ul>
          </li>
        <% else %>
          <%= content_tag(:li,
                          link_to("Signup", "/signup"),
                          :class => content_for?(:signup_link_tag) ? "active" : "") %>
        <% end %>
      </ul>
    </div>
  </div>