<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :header_string %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/navigation_bar" %>
    Yo: <div id="showcase">___</div>
    <div class="container">
      <%= render "shared/message_area" if flash.any? -%>
      <%= yield -%>
    </div>
  </body>
</html>
