<!DOCTYPE html>
<html>
  <head>
    <title>BabbleZone</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main_container">
      <div id="main_content">
        <div id="main_header"><%= yield :header_string %></div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
